<h1>Gracias por su compra!</h1>
<div>
  <p>Fecha de compra: ${{ticket.purchase_datetime}}</p>
  <p>Comprador: {{ticket.purchaser}}</p>
    &nbsp;
  <a href="/products">Volver a los productos</a>
</div>