<h1>Inicio de sesión</h1>

{{#if errors}}
  <div style="color: red;">
    <p>Errors:</p>
    <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if invalidCredentials}}
  <div style="color: red;">
    <p>{{invalidCredentials}}</p>
  </div>
{{/if}}

<form method="POST" action="/sessions/login">
  <label for="email">Correo electrónico:</label>
  <input type="text" name="email" required />
  <label for="password">Contraseña:</label>
  <input type="text" name="password" required />
  <button type="submit">Iniciar sesión</button>
</form>
<div>
  <a href="/sessions/github"><button>Iniciar sesión con Github</button></a>
</div>
<a href="/sessions/register">Registrarse</a>