<h1>Datos de compra</h1>
<form method="POST" action="/cart/{{cart._id}}/purchase">
  <label>Nombre del títular:</label>
  <input type="text" />
  <label>Numero de la tarjeta:</label>
  <input type="text" />
  <label>Código de seguridad:</label>
  <input type="text" />
  <button type="submit">Confirmar compra</button>
</form>